* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #072445;
  background-color: #99d9ee;
}

.nav-bar {
  list-style: none;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  background-color: #072445;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  position: relative;
  margin: auto;
  padding: 40%;
  display: contents;
  text-align: center;
}

.header {
  border: 2px solid;
  background-color: #072445;
  color: #99d9ee;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}

#calculator-image {
  width: 70px;
  padding-right: 10px;
  padding-left: 15px;
}

h2 {
  padding-top: 10px;
  text-decoration: underline;
}

form {
  font-weight: 500;
  line-height: 30px;
  border: #072445 2px solid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: rgb(265, 265, 265);
}

#submitbutton {
  color: white;
  font-weight: bold;
  font-size: smaller;
  border-radius: 5px;
  background: darkcyan;
  padding: 5px;
}
#submitbutton:hover {
  background-color: lightseagreen;
}

h3 {
  text-decoration: underline;
  font-size: larger;
  padding-bottom: 5px;
}

#transactions-table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

#transactions-table tr th {
  padding: 3px;
}
