* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #072445;
  background-color: #99d9ee;
}

body {
  position: relative;
  margin: auto;
  padding: 40%;
  display: contents;
  text-align: center;
}

.header {
  border: 2px solid;
  background-color: #072445;
  color: #99d9ee;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

#calculator-image {
  width: 70px;
  padding-right: 10px;
  padding-left: 15px;
}

form {
  margin-top: 20px;
  line-height: 30px;
}

main h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

button {
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 8px;
  background: rgb(22, 148, 148);
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 0.5em;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: rgb(265, 265, 265);
}

button:hover,
button:focus {
  background: rgb(30, 182, 182);
}

fieldset {
  border: 0;
}

/* #signin-button {
  text-decoration: none;
  color: rgb(265, 265, 265);
}

#signin-button:hover,
#signin-button:focus {
  background: rgb(30, 182, 182);
} */
